# .coveragerc to control coverage.py
[run]
omit = 
    # omit inits
    __init__.py
    # omit tests itself
    tests/*
    # omit abstract endpoints
    */abstracts/*
    # omit config due to base_config
    # */config.py
